<nav>
    <ul id="menu">
        @if (!Request.IsAuthenticated)
        {
            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
        }
        else
        {
            <li>@Html.ActionLink("Семья", "Family", "Account")</li>
            <li>@Html.ActionLink("Обязанности", "Duties", "Task")</li>
            <li>@Html.ActionLink("Задачи", "Tasks", "Task")</li>
            <li>@Html.ActionLink("Цели", "Targets", "Task")</li>
            <li>@Html.ActionLink("Настройки", "Settings", "Task")</li>
        }
    </ul>
</nav>
