@model PocketMoney.Data.IUser
@{
    ViewBag.Title = "Семья";
}
<script type="text/x-jquery-tmpl" id="userRowTemplate">
    <tr>
        <td>${UserName}
    </td>
        <td style="text-align: center;">${Points}
    </td>
        <td style="text-align: center;">
            <input type="hidden" value="${UserId}" />
            <a href="#" id="actionView">Отчет</a>
            <a href="#" id="actionEdit">Редактировать</a>
            <a href="#" id="actionRemove">Удалить</a>
            <a href="#" id="actionExchange">Списать баллы</a>
        </td>
    </tr>
</script>

<script type="text/x-jquery-tmpl" id="childNotificationTemplate">
    Привет ${UserName}, это ${ParentName}.
Я добавил тебя в приложение "Карманные деньги", пожалуйста подтверди установку у себя. Спасибо.
</script>

<section id="areaTable" class="wizard">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>Учетные записи семьи.</h2>
    </hgroup>
    <input id="actionAdd" type="button" value="Добавить пользователя" />
    <table id="tableUsers" style="width: 100%;">
        <thead>
            <tr>
                <th>Имя пользователя
                </th>
                <th>Текущий балл
                </th>
                <th>Действия
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</section>

<section id="areaAdd" class="wizard" style="display: none">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>Добавить учетную запись</h2>
    </hgroup>
    <fieldset>
        <legend>Форма добавления пользователя</legend>
        <ol>
            <li>
                <label>Тип учетной записи</label>
                <div id="ParentRole" class="cursor-pointer">
                    <input name="RoleType" type="radio" value="0x2" />Тот кто назначает задания (Взрослый)
                </div>
                <div id="ChildRole" class="cursor-pointer">
                    <input name="RoleType" type="radio" value="0x1" checked="checked" />Тот кто выполняет задания (Ребенок)
                </div>
            </li>
            <li class="ChildVisible">
                <label>Тип клиента</label>
                <input id="VKClient" name="ClientType" type="radio" value="VK" checked="checked" />ВКонтакте<br />
                <input id="PhoneClient" name="ClientType" type="radio" value="Phone" disabled="disabled" />Мобильный клиент
            </li>
            <li class="ChildVisible">
                <label for="VKQueryString">Введите идентификатор или URL пользователя в ВКонтакте:</label>
                <table border="0">
                    <tr>
                        <td>
                            <input id="VKQueryString" name="VKQueryString" type="text" />
                        </td>
                        <td>
                            <button id="actionSearchInVK" type="button">Искать</button>
                        </td>
                    </tr>
                </table>
            </li>
            <li>
                <label for="UserName">Имя:</label>
                <input id="UserName" name="UserName" type="text" value="" />
            </li>
            <li class="ParentVisible">
                <label for="Email">Email:</label>
                <input id="Email" name="Email" type="text" value="" />
            </li>
            <li>
                <label for="UserName">Фото или аватар</label>
                <img id="Photo" alt="Нет фото" src="#" />
                <input id="UploadPhoto" type="file" value="Загрузить новое фото или аватар" />
            </li>
            <li>
                <label for="NotificationText">Текст уведомления</label>
                <textarea id="NotificationText" cols="40" rows="3"></textarea>
            </li>
        </ol>
        <input id="hiddenUserIdentifier" name="hiddenUserIdentifier" type="hidden" />
        <input id="actionSendInvite" type="button" value="Выслать уведомление для установки приложения" />
        <input id="actionCancelAdd" type="button" value="Отмена" />
    </fieldset>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/family")

    <script type="text/javascript">
        (function () {
            var exports = this;
            $(document).ready(function ($) {
                exports.FamilyController.init({
                    el: $('body'),
                    settings: {
                        GetUsersUrl: '@Url.Action("GetUsers")',
                        GetUserVKUrl: '@Url.Action("GetUserVK")',
                        SearchUsersVKUrl: '@Url.Action("SearchUsersVK")',
                        CurrentUser: '@User.Identity.Name'
                    },
                });
            });
        }).call(this);

    </script>
}
